/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .content__greeting-slick-content {
        display: none;
    }
    .content__fadeIn-slick-list {
        overflow-x: auto;
        flex-shrink: 0;
        user-select: none;
    }
    .content__fadeIn-slick-slider-btn {
        display: none;
    }
    .oh-x {
        overflow-x: auto;
    }
    .content__qr-code-img {
        display: none;
    }
    .mt--15 {
        margin-top: 15px!important;
    }
    .footer__widget-app-qr-code-img {
        display: none;
    }

}


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .w-340px {
        width: 340px !important;
    }
    .content__app-action-img {
        width: 180px;
        padding: 8px 0;
    }
    .footer__widget-apping {
        height: 30px;
        width: 180px;
        margin-bottom: 42px;
    }
    .ml-20 {
        margin-left: 0 !important;
    }
    .w-235px {
        width: 235px !important;
    }

    .footer__widget-heading {
        font-size: 1.4rem;
    }
    
    .footer__widget-menu-img-cart {
        width: 77px;
    }
    
    .footer__widget-menu-img {
        width: 98px;
        margin: 0;
        padding: 0 8px ;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    
    .App__footer,
    .App__content {
        padding:0 20px;
    }
    .content__app-action-img {
        width: 180px;
        padding: 8px 0;
    }

    .mb-w-img {
        width: 304px;
    }

    .content__fadeIn-link {
        display: none;
    }

    .content__fadeIn-link-mb {
        margin-top: 25px!important;
        display: block;
    }
    .app-introduce__logo {
        width: 170px !important;
    }

    .content__app-introduce-heading {
        font-size: 21px;
    }
    
    .footer__widget-qr,
    .footer__widget-info {
        display: none;
    }
    .footer__widget-info-mobile {
        display: block;
    }

    .footer__widget-menu-img {
        width: 160px;
        padding: 0 8px;
        margin: 0;
    }
    .pd-mb {
        padding: 0;
    }

    .ml-20 {
        margin: 0 !important;
    }

    .mt--30 {
        margin-top: 30px!important;
    }

    .footer__contac {
        margin:0 -20px;
    }
}